* {
  /* General taskbar font, I like maple mono ^-^*/
  font-family: Maple Mono;
  border-radius: 14px;
  font-size: 16px;
  padding: 0px;
  background: transparent;
}

window#waybar {
  /* Linear gradients are used because it makes less harsh rounded border radius, gtk bug :p */
  /*background-image: linear-gradient(to bottom, #141216 100%);*/
  border-radius: 14px;
  padding: 0px;
  border-style: none;
}

#battery,
#network,
#clock,
#custom-applauncher,
#tray,
#workspaces,
#pulseaudio,
#backlight,
#window,
#bluetooth,
#memory,
#cpu,
#temperature {
  background-image: linear-gradient(to bottom, #27232b 100%);

  margin: 2px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 4px 10px;
  border-radius: 19px;
  color: #d8cab8;

  border-style: solid;
  border-width: 2px;
  border-color: #ac82e9;
  transition-duration: 120ms;
}

#clock {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20;
  font-weight: bold;
  border-width: 3px;
  border-color:mediumturquoise;
}


window#waybar.empty {
  background-color: transparent;
}


window#waybar.empty #window {
  padding: 0px;
  margin: 0px;
  border: 0px;
/*  background-color: rgba(66,66,66,0.5); */ /* transparent */
  background-color: transparent;
}

#pulseaudio:hover {
  background-image: linear-gradient(to bottom, #ac82e9 100%);
  color: #141216;
  transition-duration: 120ms;
}

#custom-applauncher {
  font-weight: bold;
  transition-duration: 120ms;
}
#custom-applauncher:hover {
  background-image: linear-gradient(to bottom, #ac82e9 100%);
  color: #141216;
  transition-duration: 120ms;
}

#tray menu {
  background-color: #141216;
  color: #d8cab8;
  padding: 4px;
}
#tray menu menuitem {
  background-image: linear-gradient(to bottom, #27232b 100%);

  margin: 3px;
  color: #d8cab8;
  border-radius: 4px;
  border-style: solid;
  border-color: #27232b;
}
#tray menu menuitem:hover {
  background-image: linear-gradient(to bottom, #27232b 100%);
  color: #ac82e9;
  font-weight: bold;
}

#workspaces button {
  transition-duration: 100ms;
  all: initial;
  min-width: 0;
  font-weight: bold;
  color: #d8cab8;
  margin-right: 0.2cm;
  margin-left: 0.2cm;
}

#workspaces button:hover {
  transition-duration: 120ms;
  color: #8f56e1;
}
#workspaces button.focused {
  color: #ac82e9;
  font-weight: bold;
}
#workspaces button.active {
  color: #ac82e9;
  font-weight: bold;
}
#workspaces button.urgent {
  color: #fcb167;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  color: #1d2021;
  background-color: #fc4649;
}
